@page
@model Keycloak.Web.Pages.APIOneModel
@{
}


<div class="alert alert-info">
    <h2>Status :</h2>
    <p>@Model.ResponseStatus</p>
    <h2>Content</h2>
    <p>@Model.ResponseContent</p>
</div>


